@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');



body{
  display: flex;   
  background-color: rgba(79, 192, 141, 0.5);
}

#root{
  width: 100%;
}

.App{
  max-width: 100%;
  display: flex;
  
  
}


.MainInformation{
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  
  
}


.TextsContent{
padding: 20px;
}



.MainInformation h1{
  font-size: 5em;
  font-family: 'Rubik', serif;
  letter-spacing: 3px;
  font-weight: 500;
  color: #121314;
  
}

.MainInformation h3{
  font-weight: 400;
  font-size: 2.2em;
  line-height: 1;
  letter-spacing: 2px;
  font-family: 'Rubik', serif;
  color: #121314
}

.MainInformation p{
  
  font-family: 'Rubik', serif;
  letter-spacing: 1px;
  font-weight: 300;
  max-width: 29em;
  font-size: 1.2em;
  line-height: 1.5;
  color: #121314
}

.techsContent{
  
  padding: 15px;
  display: flex;
  flex-flow: column;
  gap: 2em;
 
}
.logoInformation{
  text-align: center;
  font-family: 'Rubik';
  font-weight: 500;
  letter-spacing: 2px;
}

.badgesContent{
  display: flex;
  gap: 1em;
  flex-flow: column wrap;
  padding: 10px;
  
  
}
.contentbadgeOne, .contentbadgeTwo{
  display: flex;
  gap: 1em;
  padding: 20px;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  animation: badgeAnimate 10s ease-in-out 0.3s forwards infinite;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

}

.contentbadgeOne:hover, .contentbadgeTwo:hover{
  transform: scale(1.1);
}




@keyframes badgeAnimate {
  0%{ background-color:  #121314;
     
  }

  25%{background-color:  #12131498;}

  50% {background-color:   #12131446; }

  100%{background-color:   #121314}
  
}




@media (max-width: 1450px){
  
  .MainInformation{
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    flex-flow: row;
    margin: auto;
    
    
  }


  .TextsContent{
    padding: 15px;
    }
    
    
    
    .MainInformation h1{
      font-size: 6em;
      font-family: 'Rubik', serif;
      letter-spacing: 3px;
      font-weight: 500;
      color: #121314;
      
    }
    
    .MainInformation h3{
      font-weight: 400;
      font-size: 2.3em;
      line-height: 1;
      letter-spacing: 2px;
      font-family: 'Rubik', serif;
      color: #121314
    }
    
    .MainInformation p{
      
      font-family: 'Rubik', serif;
      letter-spacing: 1px;
      font-weight: 300;
      max-width: 29em;
      font-size: 1.4em;
      line-height: 1.5;
      color: #121314
    }



    .techsContent{
      
      padding: 10px;
      display: flex;
      flex-flow: column;
      gap: 1em;
     
    }
    .logoInformation{
      text-align: center;
      font-family: 'Rubik';
      font-weight: 500;
      letter-spacing: 2px;
    }
    
    .badgesContent{
      display: flex;
      gap: 1em;
      flex-flow: column wrap;
      padding: 10px;
      
      
    }
    .contentbadgeOne, .contentbadgeTwo{
      display: flex;
      gap: 1em;
      padding: 10px;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      animation: badgeAnimate 10s ease-in-out 0.3s forwards infinite;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    
    }

   
  
}

@media (max-width: 1200px){


  .techsContent{
      
    padding: 15px;
    display: flex;
    flex-flow: column;
    gap: 1em;
   
  }
  .logoInformation{
    text-align: center;
    font-family: 'Rubik';
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  .badgesContent{
    display: flex;
    gap: 1em;
    flex-flow: column wrap;
    padding: 10px;
    
    
  }
  .contentbadgeOne, .contentbadgeTwo{
    display: flex;
    gap: 1.9em;
    padding: 20px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    animation: badgeAnimate 10s ease-in-out 0.3s forwards infinite;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  
  }


}
















@media (max-width: 1050px){

  .MainInformation{
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    flex-flow: column;
    margin: auto;
    
    
  }


  .TextsContent{
    padding: 10px;
    }
    
    
    
    .MainInformation h1{
      font-size: 6.5em;
      font-family: 'Rubik', serif;
      letter-spacing: 2px;
      font-weight: 500;
      color: #121314;
      
    }
    
    .MainInformation h3{
      font-weight: 400;
      font-size: 2.5em;
      line-height: 1;
      letter-spacing: 1px;
      font-family: 'Rubik', serif;
      color: #121314
    }
    
    .MainInformation p{
      
      font-family: 'Rubik', serif;
      letter-spacing: 1px;
      font-weight: 300;
      max-width: 29em;
      font-size: 1.5em;
      line-height: 1.4;
      color: #121314
    }






    .techsContent{
      
      padding: 10px;
      display: flex;
      flex-flow: column;
      gap: 1em;
     
    }
    .logoInformation{
      margin-top: 3em;
      font-size: 2em;
      font-family: 'Rubik';
      font-weight: 300;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
    }

    .logoInformation::after{
      content: '';
      position: relative;
      width: 30%;
      height: 1px;
      background-color: #121314;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      
    }

    .logoInformation:hover::after{
      width: 40%;
    }







    
    .badgesContent{
      display: flex;
      gap: 1.5em;
      flex-flow: column wrap;
      padding: 15px;
      
      
    }
    .contentbadgeOne, .contentbadgeTwo{
      display: flex;
      gap: 3em;
      padding: 15px;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      animation: badgeAnimate 10s ease-in-out 0.3s forwards infinite;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    
    }

}











@media (max-width: 880px){

  .MainInformation{
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    flex-flow: column;
    margin: auto;
    
    
  }


  .TextsContent{
    padding: 10px;
    }
    
    
    
    .MainInformation h1{
      font-size: 6em;
      font-family: 'Rubik', serif;
      letter-spacing: 2px;
      font-weight: 500;
      color: #121314;
      
    }
    
    .MainInformation h3{
      font-weight: 400;
      font-size: 2em;
      line-height: 1;
      letter-spacing: 1px;
      font-family: 'Rubik', serif;
      color: #121314
    }
    
    .MainInformation p{
      
      font-family: 'Rubik', serif;
      letter-spacing: 1px;
      font-weight: 300;
      max-width: 29em;
      font-size: 1.3em;
      line-height: 1.4;
      color: #121314
    }






    .techsContent{
      
      padding: 10px;
      display: flex;
      flex-flow: column;
      gap: 1em;
     
    }
    .logoInformation{
      margin-top: 3em;
      font-size: 2em;
      font-family: 'Rubik';
      font-weight: 300;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
    }

    .logoInformation::after{
      content: '';
      position: relative;
      width: 30%;
      height: 1px;
      background-color: #121314;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      
    }

    .logoInformation:hover::after{
      width: 40%;
    }







    
    .badgesContent{
      display: flex;
      gap: 1.5em;
      flex-flow: column wrap;
      padding: 15px;
      
      
    }
    .contentbadgeOne, .contentbadgeTwo{
      display: flex;
      gap: 5px;
      padding: 15px;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      animation: badgeAnimate 10s ease-in-out 0.3s forwards infinite;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      
    
    }

}
















@media (max-width: 540px){

  .MainInformation{
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    flex-flow: column;
    margin: auto;
    
    
  }


  .TextsContent{
    padding: 5px;
    }
    
    
    
    .MainInformation h1{
      font-size: 5em;
      font-family: 'Rubik', serif;
      letter-spacing: 2px;
      font-weight: 500;
      color: #121314;
      
    }
    
    .MainInformation h3{
      font-weight: 400;
      font-size: 1.4em;
      line-height: 0;
      letter-spacing: 1px;
      font-family: 'Rubik', serif;
      color: #121314
    }
    
    .MainInformation p{
      
      font-family: 'Rubik', serif;
      letter-spacing: 1px;
      font-weight: 300;
      max-width: 29em;
      font-size: 1.1em;
      line-height: 1.4;
      color: #121314
    }






    .techsContent{
      
      padding: 5px;
      display: flex;
      flex-flow: column;
      gap: 1em;
    
     
    }
    .logoInformation{
      margin-top: 3em;
      font-size: 1.6em;
      font-family: 'Rubik';
      font-weight: 300;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
    }

    .logoInformation::after{
      content: '';
      position: relative;
      width: 30%;
      height: 1px;
      background-color: #121314;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      
    }

    .logoInformation:hover::after{
      width: 40%;
    }







    
    .badgesContent{
      display: flex;
      gap: 1em;
      flex-flow: column wrap;
      padding: 15px;
      
      
    }
    .contentbadgeOne, .contentbadgeTwo{
      display: flex;
      gap: 1.5em;
      padding: 2em;      
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      animation: badgeAnimate 10s ease-in-out 0.3s forwards infinite;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      
    
    }

}

















@media (max-width: 418px){

  .MainInformation{
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    flex-flow: column;
    margin: auto;
    
    
  }


  .TextsContent{
    padding: 5px;
    }
    
    
    
    .MainInformation h1{
      font-size: 3.5em;
      font-family: 'Rubik', serif;
      letter-spacing: 2px;
      font-weight: 500;
      color: #121314;
      
    }
    
    .MainInformation h3{
      font-weight: 400;
      font-size: 1em;
      line-height: 0;
      letter-spacing: 1px;
      font-family: 'Rubik', serif;
      color: #121314
    }
    
    .MainInformation p{
      
      font-family: 'Rubik', serif;
      letter-spacing: 1px;
      font-weight: 300;
      max-width: 29em;
      font-size: 1em;
      line-height: 1.4;
      color: #121314
    }






    .techsContent{
      
      padding: 5px;
      display: flex;
      flex-flow: column;
      gap: 1em;
    
     
    }
    .logoInformation{
      margin-top: 3em;
      font-size: 1.6em;
      font-family: 'Rubik';
      font-weight: 300;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
    }

    .logoInformation::after{
      content: '';
      position: relative;
      width: 30%;
      height: 1px;
      background-color: #121314;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      
    }

    .logoInformation:hover::after{
      width: 40%;
    }







    
    .badgesContent{
      display: flex;
      gap: 1em;
      flex-flow: column wrap;
      padding: 15px;
      
      
    }
    .contentbadgeOne, .contentbadgeTwo{
      display: flex;
      gap: 1.5em;
      padding: 2em;      
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      animation: badgeAnimate 10s ease-in-out 0.3s forwards infinite;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      
    
    }

}












@media (max-width: 315px){

  .MainInformation{
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    flex-flow: column;
    margin: auto;
    
    
  }


  .TextsContent{
    padding: 5px;
    }
    
    
    
    .MainInformation h1{
      font-size: 3em;
      font-family: 'Rubik', serif;
      letter-spacing: 2px;
      font-weight: 500;
      color: #121314;
      
    }
    
    .MainInformation h3{
      font-weight: 400;
      font-size: 0.8em;
      line-height: 0;
      letter-spacing: 1px;
      font-family: 'Rubik', serif;
      color: #121314
    }
    
    .MainInformation p{
      
      font-family: 'Rubik', serif;
      letter-spacing: 1px;
      font-weight: 300;
      max-width: 29em;
      font-size: 0.8em;
      line-height: 1.4;
      color: #121314
    }






    .techsContent{
      
      padding: 5px;
      display: flex;
      flex-flow: column;
      gap: 1em;
    
     
    }
    .logoInformation{
      margin-top: 3em;
      font-size: 1.6em;
      font-family: 'Rubik';
      font-weight: 300;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
    }

    .logoInformation::after{
      content: '';
      position: relative;
      width: 30%;
      height: 1px;
      background-color: #121314;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      
    }

    .logoInformation:hover::after{
      width: 40%;
    }







    
    .badgesContent{
      display: flex;
      gap: 1em;
      flex-flow: column wrap;
      padding: 15px;
      
      
    }
    .contentbadgeOne, .contentbadgeTwo{
      display: flex;
      gap: 1.5em;
      padding: 2em;      
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      animation: badgeAnimate 10s ease-in-out 0.3s forwards infinite;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      
    
    }

}